<!DOCTYPE html>
<html>
<head>
    <title>Welcome to FLEW - Free Log Entry for the Web</title>
</head>
<body>
    <h1>Welcome to FLEW!</h1>
    
    <p>Dear {{ user.username }},</p>
    
    <p>Thank you for joining FLEW - Free Log Entry for the Web. We're excited to have you as part of our community of amateur radio operators.</p>
    
    <p>With FLEW, you can:</p>
    <ul>
        <li>Easily log your QSOs using free text input</li>
        <li>Export your logs in ADIF format</li>
        <li>Save and manage your station settings</li>
        <li>And much more!</li>
    </ul>
    
    <p>To get started, simply visit <a href="{{ site_url }}">{{ site_url }}</a> and log in with your email address.</p>
    
    <p>If you have any questions or need assistance, please don't hesitate to contact us.</p>
    
    <p>73,<br>The FLEW Team</p>
</body>
</html> 